:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.podcast__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  gap: 20px;
}
.podcast__list-card{
  width: 250px;
  height: 300px;
  background-color: rgb(173, 221, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
}
.podcast__list-card-audio{
  width: 200px;
}
.player-popup {
  position: fixed;
  bottom: 0px; 
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 1000; 
  width: 98vw;
  margin: 0;
}

.player-controls {
  display: flex;
  justify-content: space-between;
}
