.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
  height: 60px;
  width: 100%;
  overflow-x: hidden;
}

.header__logo img {
  height: 15px;
  cursor: pointer;
  margin-left: 15px;
}

.header__right {
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.header__nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.nav__links a {
  text-decoration: none;
  color: #9747FF;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav__links a:hover {
  color: #6831af;
  font-weight: 500;
}

.header__auth {
  display: flex;
  gap: 34px;
  margin-left: 34px;
}
.btn__register{
  color: #000;
}
.btn--login{
  color: #000;
}

.btn {
  border: none;
  cursor: pointer;
  height: 40px;
  width: 120px;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header__back {
  display: none;
}
.button-logout{
  color: #000;
}

/* Responsive */

@media (max-width: 768px) {
  .header {
    height: 60px;
    overflow-x: hidden;
    padding: 0px;
  }

  .header__logo img{
    width: 56px;
    height: 56px;
  }
 
  .header__back {
    display: block;
    cursor: pointer;
    font-size: 20px;
    color: #9747FF;
  }

  .header__logo--mobile img {
    width: 50px; 
    height: auto;
    display: block;
  }

  .header__menu-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
    padding-right: 10px;
  }

  .header__dropdown-menu {
    position: fixed;
    top: 50px;
    right: 1px;
    background: #fff;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding: 20px;
    width: 150px;
    transition: transform 0.4s ease-in-out;
  }

  .header__dropdown-menu-block {
    height: 5px;
    background-color: #9747FF;
    margin-bottom: 15px;
  }

  .header__dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .header__dropdown-menu ul li {
    margin-bottom: 15px;
  }

  .header__dropdown_textOcupasional {
    text-decoration: none;
    color: #9747FF;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .header__dropdown-menu ul li a,
  .header__dropdown-menu ul li button {
    text-decoration: none;
    color: #9747FF;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .header__right,
  .header__nav,
  .header__auth {
    display: none;
  }
}
@media (max-width: 480px) {
  .header {
    height: 60px;
    display: flex;
  }

  .header__logo {
    margin-left: 0;
  }
}
