  .carousel-wrapper {
    position: relative; 
    display: flex;
    align-items: center;
  }

  .recommended-container{
    display: flex;
    flex-direction: column;
    padding: 0px 30px
  }
  
  .carousel-container {
    overflow-x: auto;
    display: flex;
    margin-bottom: 20px;
    height: 440px;
    scroll-behavior: smooth;
  }
  
  .carousel-container::-webkit-scrollbar {
    display: none;
  }
  
  .episodes-carousel {
    display: flex;
    gap: 20px;
    transition: all 0.3s ease;
    padding-bottom: 2px;
  }
  
  .episode-card {
    background-color: white;
    width: 270px;
    height: 277px;
    border: 2px solid #c0c0c0;;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 0 0 270px;
    transition: transform 0.3s ease;
    padding-bottom: 10px;
  }
  .prev-button,
  .next-button {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    background-color: #6c36ff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    z-index: 10;
  }

  .next-button {
    right: 10px;
  }
    
  .prev-button {
      left: 10px;
  }

  .prev-button:hover,
  .next-button:hover {
      background-color: #5a54d2;
  }
  
  .episode-card.expanded {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 351px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-right: 4px solid #9747FF;
    border-bottom: 4px solid #9747FF;
  }
  
  .episode-card:hover {
    transform: scale(1.05);
    margin-top: 10px;
    height: 302px;
    border-radius: 8px;
    transition: height 0.3s ease;
  }
  
  .episode-card.expanded:hover {
    transform: none;
    margin-top: 0;
    height: 351px;
  }
  
  .episode-image{
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 8px 8px 0px 0px;
    transition: height 0.3s ease;
  }
  
  .episode-image.expanded-image {
    width: 292px;
    height: 292px;
    border-radius: 8px;
    margin-right: 10px;
  }
  
  .episode-content {
    padding: 10px;
  }
  
  .episode-content.expanded-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .episode-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .episode-title {
    font-size: 20px; 
    font-weight: bold;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis; 
    height: 82px; 
    padding: 10px 5px;
  }
  
  .episode-title.expanded-title {
    font-size: 20px; 
    color: #9747FF;
    padding-bottom: 20px;
    padding-top: 0px;
    height: auto;
  }
  
  .episode-description {
    font-size: 18px;
    color: black;
    width: 434px;
    max-height: 220px;
    overflow: scroll;
    scrollbar-width: none;
    margin-bottom: 10px;
  }
  
  .episode-description-overflow {
    height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #9747FF rgb(255, 255, 255);
    padding: 0px 2px;
  }

  .listen-now {
    background-color: #56C2B7FA;
    color: white;
    padding: 14px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-end;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
  }
  
  .listen-now:hover {
    background-color: #5a54d2;
  }
  
  .close-details {
    background-color: transparent;
    color: #333;
    border: none;
    font-size: 28px;
    cursor: pointer;
    align-self: flex-start;
    color: #9747FF;
  }
  
  .view-all {
    display: flex;
    justify-content: center;
  }
  
  .view-all button {
    background-color: #6c36ff;
    color: white;
    width: 193px;
    padding: 10px;
    margin: 30px 0px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: semi-bold;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
  }
  
  .view-all button:hover {
    background-color: #5a54d2; 
  }
  
  .text-aligned {
    text-align: center;
    color: black;
  }

  /* Responsive */
  
@media screen and (max-width: 1024px) {
  .episode-card.expanded {
    width: 90%;
    max-width: 700px;
  }

  .episode-description {
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow-y: auto;
  }
}
@media screen and (max-width: 768px) {
  .recommended-container {
    padding: 0px 15px;
  }

  .episode-card {
    width: 220px;
    height: 250px;
    flex: 0 0 220px;
  }

  .prev-button,
  .next-button {
    width: 40px;
    height: 40px;
    margin-top: -30px;
  }

  .next-button {
    right: 5px;
  }

  .prev-button {
    left: 5px;
  }

  .episode-card.expanded {
    flex-direction: column;
    height: auto;
    padding: 10px;
    align-items: center;
    position: relative;
  }

  .close-details {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .episode-image.expanded-image {
    width: 180px;
    height: auto;
  }

  .episode-title {
    font-size: 18px;
    height: auto;  
  }

  .episode-description {
    font-size: 12px;
    width: 200px;
    height: 80px;
    max-height: 200px;
  }

  .listen-now {
    display: flex;
    justify-content: center;
    align-self:normal
  }
}

@media screen and (max-width: 480px) {
  .episode-card {
    width: 180px;
    height: 280px;
    flex: 0 0 180px;
    border: 2px solid #c0c0c0;;
  }

  .episode-image {
    height: fit-content;
  }

  .episode-title {
    font-size: 16px;
    height: auto;
    text-align: center;
    padding: 0%
  }

  .view-all button {
    width: 150px;
    font-size: 16px;
  }

  .episode-card.expanded {
    align-items: center;
    position: relative;
  }

  .close-details {
    position: absolute;
    top: -2px;
    right: -8px;
    font-size: 40px;
  }

  .episode-description {
    font-size: 12px;
    height: 80px;
  }

  .listen-now {
    width:fit-content;
    align-self:center;
    padding: 12px;
    position: relative;
  }
}
